<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GoblinLocation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>OAuth</servlet-name>
    <servlet-class>oauth.MainLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth</servlet-name>
    <url-pattern>/OAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GPSServiceHandler</servlet-name>
    <servlet-class>handlegps.GPSServiceHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GPSServiceHandler</servlet-name>
    <url-pattern>/gpsservicehandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Nearby</servlet-name>
    <servlet-class>controller.CloseBy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nearby</servlet-name>
    <url-pattern>/closeby</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>controller.Profile1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Relationship</servlet-name>
    <servlet-class>controller.Relationship</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Relationship</servlet-name>
    <url-pattern>/relationship</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Friend</servlet-name>
    <servlet-class>controller.Friend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Friend</servlet-name>
    <url-pattern>/friend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Message</servlet-name>
    <servlet-class>controller.Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Map</servlet-name>
    <servlet-class>controller.Map</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Map</servlet-name>
    <url-pattern>/map</url-pattern>
  </servlet-mapping>
</web-app>